<!DOCTYPE html>
<html>
    <div class="d1_quote"  style="padding:10px 20px">
        <h3>You can save $40 using BeaverBuy!</h3>
        <div class="summary col-md-7">
            <table>
                <tr><td style="padding:10px; line-height:0.9">Item URL</td><td style="padding:10px; line-height:0.9">http://www.amazon.com/<br>1239729/</td></tr>
                <tr><td style="padding:10px; line-height:0.9">Quantity</td><td style="padding:10px; line-height:0.9">1</td></tr>
                <tr><td style="padding:10px; line-height:0.9">Price</td><td style="padding:10px; line-height:0.9">$129</td></tr>
                <tr><td style="padding:10px; line-height:0.9">Ship to</td><td style="padding:10px; line-height:0.9">SIN</td></tr>
                <tr><td style="padding:10px; line-height:0.9">Ship from</td><td style="padding:10px; line-height:0.9">USA</td></tr>
            </table>
        </div>
        <div class="cost col-md-5">
            <table>
                <tr><td style="padding:10px; line-height:0.9">Cost of purchase</td><td style="padding:10px; line-height:0.9">$129</td></tr>
                <tr><td style="padding:10px; line-height:0.9">Domestic shipping</td><td style="padding:10px; line-height:0.9">$0</td></tr>
                <tr><td style="padding:10px; line-height:0.9">Buy-For-Me fee</td><td style="padding:10px; line-height:0.9">$6.4</td></tr>
                <tr><td style="padding:10px; line-height:0.9">INTL shipping</td><td style="padding:10px; line-height:0.9">$4.6</td></tr>
                <tr><td style="padding:10px; line-height:0.9">Customs duty</td><td style="padding:10px; line-height:0.9">$12.9</td></tr>
                <tr style="border-top:1px solid #000000; font-weight:600;"><td style="padding:10px; line-height:0.9">Total</td><td style="padding:10px; line-height:0.9">$152.9</td></tr>
            </table>
            <a class="black-button col-md-12" style="width:initial" href="{{=URL('default','d6')}}">Try BeaverBuy Now</a>
        </div>
    </div>


</html>