{{hot_deals_enabled=True}}
{{extend 'layoutB.html'}}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{=URL('static', 'styles/kendo.common.min.css')}}" />
    <link rel="stylesheet" href="{{=URL('static', 'styles/kendo.default.min.css')}}" />

    <script src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script src="{{=URL('static', 'scripts/kendo.all.min.js')}}"></script>
</head>
<body>
    <div class="row d3_5_title_back">
        <h1 style="font-weight:600; color:#ff8200; text-align:center">Thank you for shopping with BeaverBuy! </h1>
    </div>
    <div class="row d3_5_back">
        <p style="text-align:center">Your {{='Buy-For-Me Order' if request.args[0]=='B' else 'Ship-For-Me Order'}} has been confirmed!</p>

    </div>
    <div class="row d3_flow_button">
<!--         <a href="{{=URL('default','d1')}}" style="width:initial" class="trans-button">Explore more</a>
 -->        <a href="{{=URL('default','d10')}}" style="width:initial" class="trans-button">Track orders</a>
        <a href="{{=URL('default','d11')}}" style="width:initial" class="trans-button">My profile</a><br><br>
        <a href="{{=URL('default','d3')}}" style="width:initial" class="black-button">Place another order</a>
    </div>

</body>

<script>
$( document ).ready(function() {
    $(".section_main").css({"background-color":"#ffffef"});
});
</script>

</html>