{{hot_deals_enabled=True}}
{{extend 'layoutB.html'}}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{=URL('static', 'styles/kendo.common.min.css')}}" />
    <link rel="stylesheet" href="{{=URL('static', 'styles/kendo.default.min.css')}}" />

    <script src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script src="{{=URL('static', 'scripts/kendo.all.min.js')}}"></script>
</head>
<body>
    <div class="row d7_title_back">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="row d7_back">
        <p><strong>Consolidation</strong><br>
Most of our competitors charge to consolidate packages for you. At Goopping we combine your incoming packages into one box and save you tons of money at no cost to you with the same order.</p>

<p><strong>Buy-for-Me Fees</strong><br>
Membership FREE<br>
Package Consolidation FREE<br>
Shopping fee: 20% of the order total<br>
Storage Fees: First 30 days are free! <span class="skimlinks-unlinked">Rp.85.000</span>,- per box for every additional month.<br>
Shipping rates can be found&nbsp;<a href="{{=URL('default','d5')}}">here.</a><br>
Returns: <span class="skimlinks-unlinked">Rp.150.000</span>,- handling fee; Please contact us for further instructions.</p>

<p><strong>Forwarding Fees</strong><br>
Membership FREE<br>
Package Consolidation FREE<br>
Storage Fees: First 30 days are free! <span class="skimlinks-unlinked">Rp.85.000</span>,- per box for every additional month.</p>

<p>Handling Fee: <span class="skimlinks-unlinked">Rp.100.000</span>,- per order<br>
By Kilo: <span class="skimlinks-unlinked">Rp.260.000</span>,-</p>
<p>Shipping rates can be found&nbsp;<a href="{{=URL('default','d5')}}">here.</a><br>
All returns, refunds, and exchanges are between the customer and the store that the product was purchased from.</p>

<p><strong>Insurance:</strong>&nbsp;The order value insurance cover a maximum of $ 1,000. Damage in transit is not covered by insurance. For fragile items, we are not responsible for any damage in the shipping process. Please provide additional instruction so that we can do extra packing to prevent damage / rupture of goods. For orders that are not insured, the maximum reimbursement Rp500,000, -.</p>

<p><strong>Fraud:</strong>&nbsp;We are entitled to ask for a record of purchase and payment for goods delivered using our services. Our process will not proceed if the data is incorrect. Applies also to the delivery of a third party.</p>

<p><strong>Get a US Address</strong><br>
<strong>Get a Free US address!</strong><br>
1. Register<br>
2. Find the products you want from any US online store<br>
3. Buy the items and use your Goopping US Address<br>
4.Input your item(s) information into your Goopping cart<br>
5. When your product arrives we’ll forward it to you at your home anywhere in the world at the lowest shipping rates!</p>

<p><strong>Goopping Address Format:</strong></p>
<p>Your Name<br>
c/o Goopping #(Your ID)<br>
932 North State Street<br>
Orem, UT 84057</p>
<p>Package Forwarding made simple..</p>

<p><strong>Stores</strong><br>
We have a wide variety of stores to help you find the best price for your favorite products, but you can use any US online store of your choice even if its not in our stores list.</p>

<p><strong>Simple Steps To Checkout</strong></p>
<ol>
<li>
Register<br>
2. Find the products you want from any US online store<br>
3. Buy those items and use your Indobeli US Address for your shipping address.<br>
4. Tell us about your order and select shipping options in your Cart.<br>
5. When your products arrive we’ll forward them to you at your home worldwide at the lowest shipping rates!</li>
</ol>
<p><strong>No Order Policy</strong><br>
There will be a <span class="skimlinks-unlinked">Rp.75.000</span>,- fee that will be assessed when a package gets sent to our warehouse without an order in our system.<br>
The customer will be notified by email when a package is at our warehouse.<br>
The customer will have 5 days to create an order. A second <span class="skimlinks-unlinked">Rp.75.000</span>,- fee will be assessed if Indobeli has to create an order for that package after this time. There will also be a fee of <span class="skimlinks-unlinked">Rp.20.000</span>,- per item that is put in the order.</p>

<p><strong>Shipping Fees</strong><br>
International shipping charges determined based on comparison of the amount of gross weight of the heavy volume. Heavy volume is calculated based on the length (cm) x width (cm) x height (cm): 5000. Basis of the imposition of tariffs will refer to higher yields between gross weight and volume weight.<br>
The cost of shipping please see&nbsp;<a href="{{=URL('default','d5')}}">shipping rates</a></p>

<p><strong>Payment</strong><br>
<span class="skimlinks-unlinked">Indobeli.com</span> accept: VISA, MASTER (in process)<br>
Currently only accept transfers.<br>
Purchase more than <span class="skimlinks-unlinked">Rp.25.000.000</span>, – are required to attach a photo of current and recent bank account.<br>
Identifier can be either SIM card or passport.</p>

<p><strong>Duties &amp; Taxes</strong><br>
Taxes &amp; duties included in the cost of shipping.<br>
But if for some reason cause additional costs for taxes &amp; duties on the goods shipped, we will inform you about this additional cost.</p>

<p><strong>Import Restrictions</strong><br>
<strong>General list of products under import restrictions</strong></p>
<ul>
<li>Combustible/flammable items (paints, oils, lighters)</li>
<li>Any type of pressurized can (hair spray, shaving cream, spray cans of any type)</li>
<li>Hazardous materials (matches, chemicals, explosives)</li>
<li>Firearms, weaponry and parts</li>
<li>Agricultural products (tobacco, plants and seeds.)</li>
<li>Perishable foods</li>
<li>Animals and products made with animal skin (furs)</li>
<li>Alcohol</li>
<li>Cash, currency, money orders, cashiers’ checks, credit card, etc</li>
<li>Jewellery</li>
<li>Lottery tickets and gambling devices</li>
<li>Prescription and/or veterinary medication</li>
<li>Pornography</li>
<li>Government IDs and licenses, or items that claim to be, or that look similar to, government identification documents. This includes uniforms and badges or patches designed to look like official Government Issue.</li>
</ul>
    </div>
</body>

<script>
$( document ).ready(function() {
    $(".section_main").css({"background-color":"#ecd3d2"});
});
</script>



</html>