{{extend 'layout.html'}}
{{if 'message' in globals():}}
<div id="wrap">
    <div class="row" id="dashboard_section tile_wrapper">
        
        <div class="col-xs-12 col-sm-3 tile_wrapper one">
            <div class="col-xs-6 col-sm-12 tile_section">
                <a href={{=URL('main_control','index')}}>
                    <div class="title one">
                        <span>NEW<br>SCREENING</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-12 description" >
                <ul id="bullet_points">
                    <li>Start a new daily screening on existing transactions.</li> 
                    <li>Case will be filed if suspicious patterns are found together with other transactions.</li>
                </ul>
            </div>
        </div>


        <div class="col-xs-12 col-sm-3 tile_wrapper two">
            <div class="col-xs-6 col-sm-12 tile_section">
                <a href={{=URL('screeningHistory','index')}}>
                    <div class="title two">
                        <span>HISTORICAL<br>SCREENING<br>RESULT</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-12 description">
                <ul id="bullet_points">
                    <li>View past daily screening outcome and the historical trend of emerging suspicious cases. </li>
                    <li>Check the distribution and details of filed potential suspicious cases of a particular day.</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 tile_wrapper three">
            <div class="col-xs-6 col-sm-12 tile_section">
                <a href={{=URL('suspiciousCases','index')}}>
                    <div class="title three">
                        <span>SUSPICIOUS<br>CASE<br>RECORD</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-12 description">
                <ul id="bullet_points">
                    <li>View all potential suspicious cases that arose in the past. </li>
                    <li>Check the transactions involved, case status and other details.</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 tile_wrapper four">
            <div class="col-xs-6 col-sm-12 description">
                <ul id="bullet_points">
                    <li>Athena is a transaction monitoring platform with customisable algorithm to detect suspicious transactions.</li> 
                    <li>It is also a suspicious case management tool that keeps things on track and traceable at all times.</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-12 tile_section">
                <a href={{=URL('user_guide','index')}}>
                    <div class="title four">
                        <span>USER<br>GUIDE</span>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {

        // Initialize card flip
        $('.card.hover').hover(function () {
            $(this).addClass('flip1');
        }, function () {
            $(this).removeClass('flip1');
        });
    })

// $(".title.one").click(function(){
//   $( ".title.one" ).animate({
//     width: [ "toggle"],
//     height: [ "toggle"],
//     marginLeft: "0.6in",
//   }, 400, "swing", function() {
//     location.href="{{#=URL('main_control','index')}}";
//     });
// })


</script>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{end}}
