{{extend 'layout.html'}}
<script src="{{=URL('static','js/angular.js')}}"></script>
<script src="{{=URL('static','js/angular-touch.js')}}"></script>
<script src="{{=URL('static','js/angular-animate.js')}}"></script>
<script src="{{=URL('static','js/csv.js')}}"></script>
<script src="{{=URL('static','js/pdfmake.js')}}"></script>
<script src="{{=URL('static','js/vfs_fonts.js')}}"></script>
<script src="{{=URL('static','js/ui-grid.js')}}"></script>

<link rel="stylesheet" href="{{=URL('static','styles/kendo.default.min.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','styles/kendo.common.min.css')}}"/>
<script src="{{=URL('static','scripts/kendo.all.min.js')}}"></script>



<div class="container-fluid" ng-app="grid_existingScrAPP">
    <div class="row">
        <div class="col-md-3">
            <div class="fixed_sectio">
                <div class="board">
                    <div class="main_title_h2">TREND IN PAST 30 DAYS</div>
                    <div class="chart-wrapper chart_section">
                        <div class="demo-section k-content wide">
                            <div id="trend_chart"></div>
                        </div>
                        <div class="demo-section k-content wide">
                            <div id="rule_chart"></div>
                        </div>

<!--                         <select ng-model="ruleMDL" ng-change="refreshSingleRule()" id="rule" name="rule">
                            <option value="rule1">Rule 1 - Multiple Low Value Transactions from One Remitter</option>
                            <option value="rule2">Rule 2 - Multiple Transactions from One Remitter to One Beneficiary</option>
                            <option value="rule3">Rule 3 - Transactions from One Remitter to Multiple Beneficiaries</option>
                            <option value="rule4">Rule 4 - Transactions from Multiple Remitters to One Beneficiary</option>
                            <option value="rule5">Rule 5 - Sudden High Value Transactions</option>
                            <option value="rule6">Rule 6 - Transactions Involving Tax Haven Countries</option>
                            <option value="rule7">Rule 7 - Transactions Involving High AML Risk Countries</option>
                            <option value="rule8">Rule 8 - Potential Illegal Money Lending (low value)</option>
                        </select> -->
<!--                         <div kendo-chart="single_rule_chart"
                            k-legend = "{
                                position: 'bottom',
                                visible: true,
                                orientation: 'horizontal',
                                width: '200',
                                font: 'Open Sans',
                                labels:{ margin: {left:5}}
                                }"
                            k-chart-area = "{background: '', height: 400}"
                            k-series-defaults = "{type: 'line'}"
                            k-series = "selectedRule"
                            k-data-source = "chart_Data"
                            k-tooltip = "{visible: true, format: '{0}%', template: '#= value # cases on #= category#', color:'#ffffff'}">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="board">
                <div class="main_title_h2">DAILY SCREENING RESULT</div>
                <div class="grid_section">
                    <div ng-controller="grid_existingScrCTRL">
                        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" ></div>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>


<script>
var grid_existingScrAPP = angular.module('grid_existingScrAPP', ['kendo.directives', 'ngAnimate', 'ngTouch', 'ui.grid', 'ui.grid.exporter', 'ui.grid.pagination', 'ui.grid.cellNav']);
grid_existingScrAPP.config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{!');
    $interpolateProvider.endSymbol('!}');
});
//var detailsCellTemplate = '<a href={!row.entity.details!}';

grid_existingScrAPP.controller('grid_existingScrCTRL', ['$scope', '$http', 'uiGridConstants', function ($scope, $http, uiGridConstants) {
    $scope.gridOptions = {
        paginationPageSizes: [25, 50, 75],
        paginationPageSize: 25,    
        enableSorting: true,
        showGridFooter: false,
        enableHighlighting: true,
        enableColumnResizing: true,
        enableGridMenu: true,
        enableFiltering: false,
        rowHeight: 35,
        minRowsToShow: 26,

        columnDefs: [
            { field: 'scr_date', width:'10%', displayName: 'Date',
                sort: {
                      direction: uiGridConstants.DESC,
                      priority: 0,
                    }
            },

            { field: 'count_r1', width:'8%', displayName: 'Rule 1',
                headerTooltip: function( col ) {
                    return 'Multiple Low Value Transactions from One Remitter';
                }
            },
            { field: 'count_r2', width:'8%', displayName: 'Rule 2',
                headerTooltip: function( col ) {
                    return 'Multiple Transactions from One Remitter to One Beneficiary';
                }
            },
            { field: 'count_r5', width:'8%', displayName: 'Rule 3',
                headerTooltip: function( col ) {
                    return 'Transactions from One Remitter to Multiple Beneficiaries';
                }
            },
            { field: 'count_r6', width:'8%', displayName: 'Rule 4',
                headerTooltip: function( col ) {
                    return 'Transactions from Multiple Remitters to One Beneficiary';
                }
            },
            { field: 'count_r3', width:'8%', displayName: 'Rule 5',
                headerTooltip: function( col ) {
                    return 'Sudden High Value Transactions';
                }
            },
            { field: 'count_r4', width:'8%', displayName: 'Rule 6',
                headerTooltip: function( col ) {
                    return 'Transactions Involving Tax Haven Countries';
                }
            },
            { field: 'count_r7', width:'8%', displayName: 'Rule 7',
                headerTooltip: function( col ) {
                    return 'Transactions Involving High AML Risk Countries';
                }
            },
            { field: 'count_r8', width:'8%', displayName: 'Rule 8',
                headerTooltip: function( col ) {
                    return 'Potential Illegal Money Lending (low value)';
                }
            },
            { field: 'Cases_Charts' , displayName: 'Total cases', width:'*',
                cellTemplate: '<a href="{!COL_FIELD!}" id="show_cases_details">{!row.entity.count_totSuspCases!} suspicious cases</a>' 
            },
        ],

        exporterCsvFilename: 'daily_screening_result_list.csv',
        exporterPdfDefaultStyle: {fontSize: 9},
        exporterPdfTableStyle: {margin: [30, 30, 30, 30]},
        exporterPdfTableHeaderStyle: {fontSize: 10, bold: true, italics: true, color: 'red'},
        exporterPdfHeader: { text: "Daily Screening Result List", style: 'headerStyle' },
        exporterPdfFooter: function ( currentPage, pageCount ) {
          return { text: currentPage.toString() + ' of ' + pageCount.toString(), style: 'footerStyle' };
        },

        exporterPdfCustomFormatter: function ( docDefinition ) {
          docDefinition.styles.headerStyle = { fontSize: 25, bold: true, color: [0,0,0]};
          docDefinition.styles.footerStyle = { fontSize: 10, bold: true };
          return docDefinition;
        },
        exporterPdfOrientation: 'portrait',
        exporterPdfPageSize: 'A4',
        exporterPdfMaxGridWidth: 500,
        exporterCsvLinkElement: angular.element(document.querySelectorAll(".custom-csv-link-location")),
        onRegisterApi: function(gridApi){
            $scope.gridApi = gridApi;
        }
    };
    $scope.gridOptions.data = {{=XML(grid_existingScr)}};
}]);

// grid_existingScrAPP.controller('chart_singleRuleCTRL', ['$scope', '$http', 'uiGridConstants', function ($scope, $http, uiGridConstants) {
//     $scope.selectedRule = [{ 
//                     field: 'count_r1', name: '1. Multiple Low Value Transactions from One Remitter', color: '#d11141'
//                 },{
//                     field: 'count_r2', name: '2. Multiple Transactions from One Remitter to One Beneficiary', color: '#00b159'
//                 },{
//                     field: 'count_r5', name: '3. Transactions from One Remitter to Multiple Beneficiaries', color: '#00aedb'
//                 },{
//                     field: 'count_r6', name: '4. Transactions from Multiple Remitters to One Beneficiary', color: '#ffc425'
//                 },{
//                     field: 'count_r3', name: '5. Sudden High Value Transactions', color: '#f37735'
//                 },{
//                     field: 'count_r4', name: '6. Transactions Involving Tax Haven Countries', color: '#ff0065'
//                 },{
//                     field: 'count_r7', name: '7. Transactions Involving High AML Risk Countries', color: '#a200ff'
//                 },{
//                     field: 'count_r8', name: '8. Potential Illegal Money Lending (low value)', color: '#8ec127'
//                 }
//         ];
//     $scope.chart_Data = new kendo.data.DataSource({
//         data: {{=XML(grid_existingScr)}},
//         sort: {
//             field:'scr_date'
//         }
//     });
//     $scope.refreshSingleRule = function() {
//         if ($scope.ruleMDL=="rule1") {
//             $scope.selectedRule = [{ field: 'count_r1', name: 'Multiple Low Value Transactions from One Remitter' }];
//         }else if ($scope.ruleMDL=="rule2") {
//             $scope.selectedRule = [{ field: 'count_r2', name: 'Multiple Transactions from One Remitter to One Beneficiary' }];
//         }else if ($scope.ruleMDL=="rule3") {
//             $scope.selectedRule = [{ field: 'count_r5', name: 'Transactions from One Remitter to Multiple Beneficiaries' }];
//         }else if ($scope.ruleMDL=="rule4") {
//             $scope.selectedRule = [{ field: 'count_r6', name: 'Transactions from Multiple Remitters to One Beneficiary' }];
//         }else if ($scope.ruleMDL=="rule5") {
//             $scope.selectedRule = [{ field: 'count_r3', name: 'Sudden High Value Transactions' }];
//         }else if ($scope.ruleMDL=="rule6") {
//             $scope.selectedRule = [{ field: 'count_r4', name: 'Transactions Involving Tax Haven Countries' }];
//         }else if ($scope.ruleMDL=="rule7") {
//             $scope.selectedRule = [{ field: 'count_r7', name: 'Transactions Involving High AML Risk Countries' }];
//         }else if ($scope.ruleMDL=="rule8") {
//             $scope.selectedRule = [{ field: 'count_r8', name: 'Potential Illegal Money Lending (low value)' }];
//         }
//         $scope.$apply();
//     };

// }]);

</script>




<script>
    function createChart() {
        $("#trend_chart").kendoChart({
            chartArea: {
                background: "#e8e9e9",
                height: 350
            },
            title: {
                text: ""
            },
            legend: {
                labels:{
                    color: "#000000",
                },
                position: "top",
            },
            seriesDefaults: {
                type: "line",
                color: '#ef435e'
            },
            series: [{
                name: "Total Suspicious Cases",
                data: {{=XML([row['ct'] for row in list_hist[-31:-1]])}}
            }],
            valueAxis: {
                color: "#000000",
                labels: {
                    format: "0"
                },
                line: {
                    visible: true
                },
                majorGridLines: {
                    color: '#76767f',
                },
                axisCrossingValue: 0
            },
            categoryAxis: {
                categories: {{=XML([castDate(row['day']) for row in list_hist[-31:-1]])}},
                color: '#000000',
                line: {
                    visible: false
                },
                labels: {
                    // padding: {right: 10},
                    step: 2,
                    rotation: -60
                },
                crosshair: {
                    color: "#ef435e",
                    visible: true
                },
                majorGridLines: {
                    color: '#76767f',
                },
            },
            tooltip: {
                visible: true,
                format: "{0}%",
                template: "#= value # cases on #= category#",
                color:"#ffffff"
            },
        });

        $("#rule_chart").kendoChart({
            dataSource:{
                data:{{=XML(grid_existingScr)}}
            },
            chartArea: {
                background: "#e8e9e9",
                height: 500
            },
            title: {
                text: "Breakdown"
            },
            legend: {
                labels:{
                    color: "#000000",
                    },
                position: "top"
            },
            seriesDefaults: {
                type: "line",
                color: '#ef435e'
            },
            series: [
                { 
                    field: 'count_r1', name: '1. Multiple Low Value Transactions from One Remitter', color: '#d11141', visible: false
                },{
                    field: 'count_r2', name: '2. Multiple Transactions from One Remitter to One Beneficiary', color: '#00b159', 
                },{
                    field: 'count_r5', name: '3. Transactions from One Remitter to Multiple Beneficiaries', color: '#00aedb', visible: false
                },{
                    field: 'count_r6', name: '4. Transactions from Multiple Remitters to One Beneficiary', color: '#ffc425', visible: false
                },{
                    field: 'count_r3', name: '5. Sudden High Value Transactions', color: '#f37735', visible: false
                },{
                    field: 'count_r4', name: '6. Transactions Involving Tax Haven Countries', color: '#ff0065', visible: false
                },{
                    field: 'count_r7', name: '7. Transactions Involving High AML Risk Countries', color: '#a200ff', visible: false
                },{
                    field: 'count_r8', name: '8. Potential Illegal Money Lending (low value)', color: '#8ec127', visible: false
                }
            ],
            valueAxis: {
                color: "#000000",
                labels: {
                    format: "0"
                },
                line: {
                    visible: true
                },
                majorGridLines: {
                    color: '#76767f',
                },
                axisCrossingValue: 0
            },
            categoryAxis: {
                field: 'scr_date',
                color: '#000000',
                line: {
                    visible: false
                },
                labels: {
                    // padding: {right: 10},
                    step: 2,
                    rotation: -60
                },
                crosshair: {
                    color: "#ef435e",
                    visible: true
                },
                majorGridLines: {
                    color: '#76767f',
                },
            },
            tooltip: {
                visible: true,
                format: "{0}%",
                template: "#= value # cases on #= category#",
                color:"#ffffff"
            },
        });
    };



    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
    $(window).on("resize", function() {
        kendo.resize($(".chart-wrapper"));
    });
</script>