{{extend 'layout.html'}}
<script src="{{=URL('static','js/angular.js')}}"></script>
<script src="{{=URL('static','js/angular-touch.js')}}"></script>
<script src="{{=URL('static','js/csv.js')}}"></script>
<script src="{{=URL('static','js/pdfmake.js')}}"></script>
<script src="{{=URL('static','js/vfs_fonts.js')}}"></script>
<script src="{{=URL('static','js/ui-grid.js')}}"></script>

<link rel="stylesheet" href="{{=URL('static','styles/kendo.default.min.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','styles/kendo.common.min.css')}}"/>
<script src="{{=URL('static','scripts/kendo.all.min.js')}}"></script>

<div class="container-fluid">
    <div class="row row-eq-height" ng-app="grid_suspAPP" ng-controller="grid_suspCTRL">
        <div id="backToDaliyRecord" class="return_button" onclick="backToDaliyRecord()">
            <div class="return_button_icon"><i class="fa fa-angle-double-left fa-2x"></i></div>
            <div class="return_button_text">BACK<br>to<br>check<br>other<br>days</div>
        </div>
        <div class="col-md-4">
            <div class="board">
                {{if not scrID:}}
                    <div class="main_title_h2">SCREENING REPORT</div>
                    <div class="summary_section">Screening is not done</div>
                    <div class="chart_section">{{=msg}}</div>
                {{else:}}
                    <div class="main_title_h2">SCREENING REPORT</div>
                    <div class="summary_section">Date: {{=castDate(db.screening_history[scrID].scr_date)}}</div>
                    <div class="chart_section">
                        <div class="chart-wrapper">
                            <div kendo-chart="advanced_transaction"
                            k-title = "{position: 'top', text: 'Distribution of Suspicious Cases'}"
                            k-legend = "{
                                position: 'bottom', 
                                visible: true, 
                                orientation: 'horizontal', 
                                width: '200', 
                                font: 'Open Sans', 
                                labels:{ margin: {left:5}}
                                }"
                            k-chart-area = "{background: '', height: 450}"
                            k-series-defaults = "{type: 'donut', startAngle: 150}"
                            k-series = "[{
                                field:'value', 
                                categoryField: 'category', 
                                overlay: {gradient:'none'}, 
                                labels: {visible: true, 
                                    background: '', 
                                    color:'#767b9', 
                                    position: 'outsideEnd',
                                    template: '#= kendo.toString( value/{{=vio_dist['count_totSuspCases']}}, \'p\' )#'}
                                }]"
                            k-data-source = "kendo_data"
                            k-tooltip = "{visible: true, color:'#ffffff', template: '#= category # - #= value #' }"
                            k-series-click = "onSeriesClick"></div>
                        </div>
                        <div class="chart-wrapper">
                            <div id="normal_transaction"></div>
                        </div>  
                    </div>                      
                {{pass}}
            </div>
        </div>

        <div class="col-md-8">
            <div class="board">
                <div class="main_title_h2">SUSPICIOUS CASES LIST</div>
                <div class="grid_section">
                    {{if scrID:}}
                        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" ></div>
                    {{pass}}
                </div>
            </div>

        </div>
     </div>
 </div>



<script>
function backToDaliyRecord(){
    location.href="{{=URL('screeningHistory', 'index')}}"
};
$("#backToDaliyRecord").hover(
    function(){
        $(".return_button_text").css({"color":"#000000", "transition":"all 0.4s ease-out"});
        $(".return_button").css({"background":"rgba(92,93,93,0.7)", "width":"5%", "transition":"all 0.4s ease-out", "min-width":"100px", });
    },
    function(){
        $(".return_button_icon").css({"color":"#000000",  "transition":"all 0.4s ease-out"});
        $(".return_button_text").css({"color":"transparent", "transition":"all 0.4s ease-out"});
        $(".return_button").css({"background":"rgba(92,93,93,0.7)", "width":"1.2%","transition":"all 0.4s ease-out", "min-width":"20px", });
    }
)
</script>

<script>
{{if scrID:}}
    var grid_suspAPP = angular.module('grid_suspAPP', ['kendo.directives', 'ngAnimate', 'ngTouch', 'ui.grid', 'ui.grid.exporter', 'ui.grid.pagination', 'ui.grid.cellNav']);
    grid_suspAPP.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{!');
        $interpolateProvider.endSymbol('!}');
    });
    //var detailsCellTemplate = '<a href={!row.entity.details!}';

    grid_suspAPP.controller('grid_suspCTRL', ['$scope', '$http', '$filter', 'uiGridConstants', function ($scope, $http, $filter, uiGridConstants) {
        var grid_data = {{=XML(grid_susp)}};
        var grid_filter = "";
        var dist_suspCase = [
                            {
                                category: "1. Multiple Low Value Transactions from One Remitter",
                                value: {{=XML(vio_dist['count_r1'])}},
                                color: "#d11141",
                            },{
                                category: "2. Multiple Transactions from One Remitter to One Beneficiary",
                                value: {{=XML(vio_dist['count_r2'])}},
                                color: "#00b159"
                            },{
                                category: "3. Transactions from One Remitter to Multiple Beneficiaries",
                                value: {{=XML(vio_dist['count_r5'])}},
                                color: "#00aedb"
                            },{
                                category: "4. Transactions from Multiple Remitters to One Beneficiary",
                                value: {{=XML(vio_dist['count_r6'])}},
                                color: "#ffc425"
                            },{
                                category: "5. Sudden High Value Transactions",
                                value: {{=XML(vio_dist['count_r3'])}},
                                color: "#f37735"
                            },{
                                category: "6. Transactions Involving Tax Haven Countries",
                                value: {{=XML(vio_dist['count_r4'])}},
                                color: "#ff0065"
                            },{
                                category: "7. Transactions Involving High AML Risk Countries",
                                value: {{=XML(vio_dist['count_r7'])}},
                                color: "#a200ff"
                            },{
                                category: "8. Potential Illegal Money Lending (low value)",
                                value: {{=XML(vio_dist['count_r8'])}},
                                color: "#8ec127"
                            }
                    ]

        $scope.gridOptions = {
            paginationPageSizes: [],
            paginationPageSize: 10,    
            enableSorting: true,
            showGridFooter: false,
            enableHighlighting: true,
            enableColumnResizing: true,
            enableGridMenu: true,
            // enableFiltering: true,
            rowHeight: 70,
            minRowsToShow: 11,

            columnDefs: [
                // { field: 'id', width: '5%'},
                { field: 'date_screened', displayName: 'Date', width:'9%'},
                { field: 'vio_id', displayName: 'Issue', width:'30%',
                    cellTemplate: '<div class="ui-grid-cell-contents wrap" white-space: normal>{!COL_FIELD!}</div>'
                },
                { field: 'description', width:'35%', 
                    cellTemplate: '<div class="ui-grid-cell-contents wrap" white-space: normal>{!COL_FIELD!}</div>'
                },
                { field: 'status', width:'10%' },
                { field: 'details', width:'16%',
                    cellTemplate: '<a href="{!COL_FIELD!}" id="show_cases_details">Involve {!row.entity.ctTrx!} transactions</a>'}
            ],
            data: grid_data,

            enableSelectAll: true,
            exporterCsvFilename: 'suspicious_cases_list.csv',
            exporterPdfDefaultStyle: {fontSize: 9},
            exporterPdfTableStyle: {margin: [30, 30, 30, 30]},
            exporterPdfTableHeaderStyle: {fontSize: 10, bold: true, italics: true, color: 'red'},
            exporterPdfHeader: { text: "Suspicious Cases List", style: 'headerStyle' },
            exporterPdfFooter: function ( currentPage, pageCount ) {
                  return { text: currentPage.toString() + ' of ' + pageCount.toString(), style: 'footerStyle' };
            },

            exporterPdfCustomFormatter: function ( docDefinition ) {
                  docDefinition.styles.headerStyle = { fontSize: 25, bold: true, color: [0,0,0]};
                  docDefinition.styles.footerStyle = { fontSize: 10, bold: true };
                  return docDefinition;
            },
            exporterPdfOrientation: 'portrait',
            exporterPdfPageSize: 'A4',
            exporterPdfMaxGridWidth: 500,
            exporterCsvLinkElement: angular.element(document.querySelectorAll(".custom-csv-link-location")),
            onRegisterApi: function(gridApi){
                  $scope.gridApi = gridApi;
            }
        };


        $scope.kendo_data = dist_suspCase;
        $scope.onSeriesClick = function(e){
            $scope.gridOptions.data = grid_data;
            if (e.category!==$scope.grid_filter){
                $scope.grid_filter = e.category;
                $scope.gridOptions.data = $filter('filter')($scope.gridOptions.data, $scope.grid_filter.substring(3), undefined);
            }else{
                $scope.grid_filter = "";
            }
            $scope.$apply()
        };
    }]);



    function createChart() {
        $("#normal_transaction").kendoChart({
            title: {
                position: "top",
                text: "Proportion of Suspicious Transactions"
            },
            legend: {
                position: "right",
                visible: true
            },
            chartArea: {
                background: "",
                height: 300,
            },
            seriesDefaults: {
                type: "donut",
                startAngle: 150,
            },
            series: [{
                name: "Proportion of Suspicious Transactions",
                data: [{
                    category: "Normal Transactions",
                    value: {{=XML(vio_dist['count_totScrTrx'] - vio_dist['count_totSuspTrx'])}},
                    color: "#86b2a3"
                },{
                    category: "Suspicious Transactions",
                    value: {{=XML(vio_dist['count_totSuspTrx'])}},
                    color: "#ef435e",
                    "explode": true
                }],

                labels: {
                    visible: true,
                    background: "transparent",
                    position: "center",
                    color:"#ffffff",
                    align:"left",
                    template: "#= kendo.toString( value/{{=vio_dist['count_totScrTrx']}}, \"p\" )#",
                },
                overlay:{gradient:"none"}
            }],
            tooltip: {
                visible: true,
                color:"#ffffff",
                template: "#= category # - #= value#"
            }
        });
    }


    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
    $(window).on("resize", function() {
        kendo.resize($(".chart-wrapper"));
    });

{{pass}}
</script>


