{{extend 'viewsuspicious.html'}}
 <link rel="stylesheet" href="{{=URL('static','styles/kendo.default.min.css')}}"/>
 <link rel="stylesheet" href="{{=URL('static','styles/kendo.common.min.css')}}"/>
 <script src="{{=URL('static','scripts/kendo.all.min.js')}}"></script>

 <script src="{{=URL('static','js/angular.js')}}"></script>
 <script src="{{=URL('static','js/angular-touch.js')}}"></script>
 <script src="{{=URL('static','js/angular-animate.js')}}"></script>
 <script src="{{=URL('static','js/csv.js')}}"></script>
 <script src="{{=URL('static','js/pdfmake.js')}}"></script>
 <script src="{{=URL('static','js/vfs_fonts.js')}}"></script>
 <script src="{{=URL('static','js/ui-grid.js')}}"></script>





<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div id="bg_new_screening_1">
                <div class="main_title_h2">SCREENING RESULTS</div>
                <div class="summary_section"></div>
                <div id="chart"></div>


            </div>

            <div id="bg_new_screening">
                <h4 class="main_title_h4">Suspicious Cases List</h4>
                <div ng-controller="MainCtrl">
                    <div  ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid"></div>

                </div>
            </div>

        </div>
     </div>
 </div>



<script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    position: "bottom",
                    text: "Share of Internet Population Growth"
                },
                legend: {
                    visible: false
                },
                chartArea: {
                    background: ""
                },
                seriesDefaults: {
                    type: "donut",
                    startAngle: 150
                },
                series: [{
                    name: "2011",
                    data: [{
                        category: "Asia",
                        value: 30.8,
                        color: "#9de219"
                    },{
                        category: "Europe",
                        value: 21.1,
                        color: "#90cc38"
                    },{
                        category: "Latin America",
                        value: 16.3,
                        color: "#068c35"
                    },{
                        category: "Africa",
                        value: 17.6,
                        color: "#006634"
                    },{
                        category: "Middle East",
                        value: 9.2,
                        color: "#004d38"
                    },{
                        category: "North America",
                        value: 4.6,
                        color: "#033939"
                    }]
                }, {
                    name: "2012",
                    data: [{
                        category: "Asia",
                        value: 53.8,
                        color: "#9de219",
                        fill: "#ffffff"
                    },{
                        category: "Transactions from Multiple Remitters to One Beneficiary",
                        value: 16.1,
                        color: "#90cc38"
                    },{
                        category: "Transactions from One Remitter to Multiple Beneficiaries",
                        value: 11.3,
                        color: "#068c35"
                    },{
                        category: "Transactions Involving Tax_haven Countries",
                        value: 9.6,
                        color: "#006634"
                    },{
                        category: "Sudden High Value Transactions",
                        value: 5.2,
                        color: "#004d38"

                    },{
                        category: "Potential Illegal Money Lending (low value)",
                        value: 5.2,
                        color: "#004d38"
                    },{
                        category: "Multiple Transactions from One Remitter to One Beneficiary",
                        value: 3.6,
                        color: "#033939"
                    },{
                        category: "Multiple Transactions from One Remitter to One Beneficiary",
                        value: 3.6,
                        color: "#033939"

                    }],

                    labels: {
                        visible: true,
                        background: "transparent",
                        position: "outsideEnd",
                        color:"#ffffff",
                        align:"left",
                        template: "#= category #: \n #= value#%"
                    }
                }],
                tooltip: {
                    visible: true,
                    color:"#ffffff",
                    template: "#= category # (#= series.name #): #= value #%"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>


