{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/rangeslider.css')}}" rel="stylesheet" type="text/css" />
<script src="{{=URL('static','js/rangeslider.js')}}"></script>
<script src="{{=URL('static','js/rangeslider.min.js')}}"></script>
<script src="{{=URL('static','js/jquery-ui.js')}}"></script>


<div class="container">
	<h1><i class="fa fa-search"></i> New Screening</h1>
	<hr>
	<form  role="form" action={{=URL('display_flags')}} name="trans_report">
		<!-------------Screening Date -------------->
		<div class="price-box">
            <label for="selectDate" id="selectDate__label">Date:</label>
				<input type="text" id="selectDate" name='scr_date' required>
		</div>
		<br>

		<!---------------ROW 01---------------->
		<span>
			<h3 title="{{=rules[0]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check01" name={{=rules[0]["notation"]}}>
				Rule 1: {{=rules[0]["title"]}}
			</h3>
		</span><br>
		<div  id="row_01" class="rule_conf">
			<div class="price-slider" >
				<h4 class="great" id="r1_1_title">Suspicious if number of transactions exceeds </h4>
				<div class="col-sm-12">
					<div id="slider1_1"></div>
				</div>
			</div>

			<div class="price-slider">
				<h4 class="great" id="r1_2_title">Screen for transactions less than</h4>
				<div class="col-sm-12">
					<div id="slider1_2"></div>
				</div>
			</div>
			
			<div class="price-slider">
				<h4 class="great" id="r1_3_title">Only screen for transactions within past (days)</h4>
				<div class="col-sm-12">
					<div id="slider1_3"></div>
				</div>
			</div>

		</div><br><br>

		<!---------------ROW 02---------------->
		<span>
			<h3 title="{{=rules[1]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check02" name={{=rules[1]["notation"]}}>
				Rule 2: {{=rules[1]["title"]}}
			</h3>
		</span><br>
		<div  id="row_02" class="rule_conf">
			<div class="price-slider">
				<h4 class="great" id="r2_1_title">Suspicious if number of transactions exceeds</h4>
				<div class="col-sm-12">
				</div>
				</div>
			</div>

			<div class="price-slider">
				<h4 class="great" id="r2_2_title">Only screen for transactions within past (days)</h4>
				<div class="col-sm-12">
					<div id="slider2_2"></div>
				</div>
			</div>
		</div><br><br>

		<!---------------ROW 03---------------->
		
		<span>
			<h3 title="{{=rules[2]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check03" name={{=rules[2]["notation"]}}>
				Rule 3: {{=rules[2]["title"]}}
			</h3>
		</span><br>
		<div  id="row_03" class="rule_conf">
			<div class="price-slider">
				<h4 class="great" id="r3_1_title">Only screen for transactions within past (days)</h4>
				<div class="col-sm-12">
					<div id="slider3_1"></div>
				</div>
			</div>
		</div><br><br>

		<!---------------ROW 04---------------->

		<span>
			<h3 title="{{=rules[3]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check04" name={{=rules[3]["notation"]}}>
				Rule 4: {{=rules[3]["title"]}}
			</h3>
		</span><br>
		<div  id="row_04" class="rule_conf">
			<div class="price-slider">
				<h4 class="great" id="r4_1_title">Only screen for transactions within past (days)</h4>
				<div class="col-sm-12">
					<div id="slider4_1"></div>
				</div>
			</div>
		</div><br><br>

		<!---------------ROW 05---------------->

		<span>
			<h3 title="{{=rules[4]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check05" name={{=rules[4]["notation"]}}>
				Rule 5: {{=rules[4]["title"]}}
			</h3>
		</span><br>
		<div  id="row_05" class="rule_conf">
			<div class="price-slider">
				<h4 class="great" id="r5_1_title">Suspicious if number of beneficiaries exceeds</h4>
				<div class="col-sm-12">
					<div id="slider5_1"></div>
				</div>
			</div>

			<div class="price-slider">
				<h4 class="great" id="r5_2_title">Only screen for transactions within past (days)</h4>
				<div class="col-sm-12">
					<div id="slider5_2"></div>
				</div>
			</div>
		</div><br><br>

		<!---------------ROW 06---------------->

		<span>
			<h3 title="{{=rules[5]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check06" name={{=rules[5]["notation"]}}>
				Rule 6: {{=rules[5]["title"]}}
			</h3>
		</span><br>
		<div  id="row_06" class="rule_conf">
			<div class="price-slider">
				<h4 class="great" id="r6_1_title">Suspicious if number of remitters exceeds</h4>
				<div class="col-sm-12">
					<div id="slider6_1"></div>
				</div>
			</div>
			<div class="price-slider">
				<h4 class="great" id="r6_2_title">Only screen for transactions within past (days)</h4>
				<div class="col-sm-12">
					<div id="slider6_2"></div>
				</div>
			</div>
		</div><br><br>

		<!---------------ROW 07---------------->

		<span>
			<h3 title="{{=rules[6]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check07" name={{=rules[6]["notation"]}}>
				Rule 7: {{=rules[6]["title"]}}
			</h3>
		</span><br>
		<div  id="row_07" class="rule_conf">
			<div class="price-slider">
				<h4 class="great" id="r7_1_title">Only screen for transactions within past (days)</h4>
				<div class="col-sm-12">
					<div id="slider7_1"></div>
				</div>
			</div>
		</div><br><br>

		<!---------------ROW 08---------------->
		<span>
			<h3 title="{{=rules[7]["description"]}}" data-toggle="tooltip" data-placement="bottom">
				<input type="checkbox" id="check08" name={{=rules[7]["notation"]}}>
				Rule 8: {{=rules[7]["title"]}}
			</h3>
		</span><br>
		<div id="row_08" class="rule_conf">
			<div class="price-slider">
				<h4 class="great" id="r8_1_title">Screen for transactions less than</h4>
				<div class="col-sm-12">
					<div id="slider8_1"></div>
				</div>
			</div>

			<div class="price-slider">
				<h4 class="great" id="r8_2_title">Screening for past (days)</h4>
				<div class="col-sm-12">
					<div id="slider8_2"></div>
				</div>
			</div>
		</div><br><br>
		<!---------------END---------------->


		<div class="form-group">
			{{for key in ['r1_1', 'r1_2', 'r1_3', 'r2_1', 'r2_2', 'r3_1', 'r4_1', 'r5_1', 'r5_2', 'r6_1', 'r6_2', 'r7_1', 'r8_1', 'r8_2']:}}
				<input id={{=key}} type="hidden" class="form-control" name={{=key}}>
			{{pass}}
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Start Screening <span class="glyphicon glyphicon-chevron-right pull-right" style="padding-right: 10px;"></span></button>
			</div>
		</div>
	</form>
</div>




<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script>
	$(function() {
		$("#selectDate").datepicker();
	});

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script type="text/javascript">
	$(document).ready(function() {
		//prepare sliders
	        $("#slider1_1").slider({
	              animate: true,
	              value:{{=dict_para['r1_1']}},
	              min: 0,
	              max: 50,
	              step: 1,
	              slide: function(event, ui) {
	                  update("1_1",ui.value); //changed
	              }
	          });

	        $("#slider1_2").slider({
	              animate: true,
	              value:{{=dict_para['r1_2']}},
	              min: 0,
	              max: 2000,
	              step: 1,
	              prefix: '$',
	              slide: function(event, ui) {
	                  update("1_2",ui.value); //changed
	              }
	          });
	        $("#slider1_3").slider({
	              animate: true,
	              value:{{=dict_para['r1_3']}},
	              min: 0,
	              max:180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("1_3",ui.value); //changed
	              }
	          });

	        $("#slider2_1").slider({
	              animate: true,
	              value:{{=dict_para['r2_1']}},
	              min: 0,
	              max: 50,
	              step: 1,
	              slide: function(event, ui) {
	                  update("2_1",ui.value); //changed
	              }
	          });
	        $("#slider2_2").slider({
	              animate: true,
	              value:{{=dict_para['r2_2']}},
	              min: 0,
	              max: 180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("2_2",ui.value); //changed
	              }
	          });
	        $("#slider3_1").slider({
	              animate: true,
	              value:{{=dict_para['r3_1']}},
	              min: 0,
	              max: 180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("3_1",ui.value); //changed
	              }
	          });	        
	        $("#slider4_1").slider({
	              animate: true,
	              value:{{=dict_para['r4_1']}},
	              min: 0,
	              max: 180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("4_1",ui.value); //changed
	              }
	          });	        
	        $("#slider5_1").slider({
	              animate: true,
	              value:{{=dict_para['r5_1']}},
	              min: 0,
	              max: 50,
	              step: 1,
	              slide: function(event, ui) {
	                  update("5_1",ui.value); //changed
	              }
	          });
	        $("#slider5_2").slider({
	              animate: true,
	              value:{{=dict_para['r5_2']}},
	              min: 0,
	              max: 180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("5_2",ui.value); //changed
	              }
	          });
	        $("#slider6_1").slider({
	              animate: true,
	              value:{{=dict_para['r6_1']}},
	              min: 0,
	              max: 50,
	              step: 1,
	              slide: function(event, ui) {
	                  update("6_1",ui.value); //changed
	              }
	          });
	        $("#slider6_2").slider({
	              animate: true,
	              value:{{=dict_para['r6_2']}},
	              min: 0,
	              max: 180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("6_2",ui.value); //changed
	              }
	          });
	        $("#slider7_1").slider({
	              animate: true,
	              value:{{=dict_para['r7_1']}},
	              min: 0,
	              max: 180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("7_1",ui.value); //changed
	              }
	          });
	        $("#slider8_1").slider({
	              animate: true,
	              value:{{=dict_para['r8_1']}},
	              min: 0,
	              max: 2000,
	              step: 1,
	              slide: function(event, ui) {
	                  update("8_1",ui.value); //changed
	              }
	          });
	        $("#slider8_2").slider({
	              animate: true,
	              value:{{=dict_para['r8_2']}},
	              min: 0,
	              max: 180,
	              step: 1,
	              slide: function(event, ui) {
	                  update("8_2",ui.value); //changed
	              }
	          });

	    // initial value for hidden input field
			$("#r1_1").val({{=dict_para['r1_1']}});
			$("#r1_2").val({{=dict_para['r1_2']}});
			$("#r1_3").val({{=dict_para['r1_3']}});
			$("#r2_1").val({{=dict_para['r2_1']}});
			$("#r2_2").val({{=dict_para['r2_2']}});
			$("#r3_1").val({{=dict_para['r3_1']}});
			$("#r4_1").val({{=dict_para['r4_1']}});
			$("#r5_1").val({{=dict_para['r5_1']}});
			$("#r5_2").val({{=dict_para['r5_2']}});
			$("#r6_1").val({{=dict_para['r6_1']}});
			$("#r6_2").val({{=dict_para['r6_2']}});
			$("#r7_1").val({{=dict_para['r7_1']}});
			$("#r8_1").val({{=dict_para['r8_1']}});
			$("#r8_2").val({{=dict_para['r8_2']}});
		// 
			{{if dict_para['r1']:}} 
				$('#check01').prop('checked', true);
				$('#row_01').fadeIn();
			{{pass}}			
			{{if dict_para['r2']:}} 
				$('#check02').prop('checked', true);
				$('#row_02').fadeIn();
			{{pass}}
			{{if dict_para['r3']:}} 
				$('#check03').prop('checked', true);
				$('#row_03').fadeIn();
			{{pass}}
			{{if dict_para['r4']:}} 
				$('#check04').prop('checked', true);
				$('#row_04').fadeIn();
			{{pass}}			
			{{if dict_para['r5']:}} 
				$('#check05').prop('checked', true);
				$('#row_05').fadeIn();
			{{pass}}			
			{{if dict_para['r6']:}} 
				$('#check06').prop('checked', true);
				$('#row_06').fadeIn();
			{{pass}}
			{{if dict_para['r7']:}} 
				$('#check07').prop('checked', true);
				$('#row_07').fadeIn();
			{{pass}}
			{{if dict_para['r8']:}} 
				$('#check08').prop('checked', true);
				$('#row_08').fadeIn();
			{{pass}}
		// value on the slider
			update();
	    });
</script>

<script>
	function update(slider,val) {
	  //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
	  var $r1_1 = slider == "1_1"?val:$("#r1_1").val();
	  var $r1_2 = slider == "1_2"?val:$("#r1_2").val();
	  var $r1_3 = slider == "1_3"?val:$("#r1_3").val();
	  var $r2_1 = slider == "2_1"?val:$("#r2_1").val();
	  var $r2_2 = slider == "2_2"?val:$("#r2_2").val();
	  var $r3_1 = slider == "3_1"?val:$("#r3_1").val();
	  var $r4_1 = slider == "4_1"?val:$("#r4_1").val();
	  var $r5_1 = slider == "5_1"?val:$("#r5_1").val();
	  var $r5_2 = slider == "5_2"?val:$("#r5_2").val();
	  var $r6_1 = slider == "6_1"?val:$("#r6_1").val();
	  var $r6_2 = slider == "6_2"?val:$("#r6_2").val();
	  var $r7_1 = slider == "7_1"?val:$("#r7_1").val();
	  var $r8_1 = slider == "8_1"?val:$("#r8_1").val();
	  var $r8_2 = slider == "8_2"?val:$("#r8_2").val();
	  /* commented
	  $amount = $( "#slider" ).slider( "value" );
	  $duration = $( "#slider2" ).slider( "value" );
	   */

	   //$total = "$" + ($amount * $trans * $trans02 * $trans05 * $trans06);
	   $( "#r1_1" ).val($r1_1);
	   $( "#r1_2" ).val($r1_2);
	   $( "#r1_3" ).val($r1_3);
	   $( "#r2_1" ).val($r2_1);
	   $( "#r2_2" ).val($r2_2);
	   $( "#r3_1" ).val($r3_1);
	   $( "#r4_1" ).val($r4_1);
	   $( "#r5_1" ).val($r5_1);
	   $( "#r5_2" ).val($r5_2);
	   $( "#r6_1" ).val($r6_1);
	   $( "#r6_2" ).val($r6_2);
	   $( "#r7_1" ).val($r7_1);
	   $( "#r8_1" ).val($r8_1);
	   $( "#r8_2" ).val($r8_2);

	   $('#slider1_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r1_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
	   $('#slider1_2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r1_2+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
	   $('#slider1_3 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r1_3+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

	   $('#slider2_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r2_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
	   $('#slider2_2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r2_2+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

	   $('#slider3_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r3_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

	   $('#slider4_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r4_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

	   $('#slider5_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r5_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
	   $('#slider5_2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r5_2+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

	   $('#slider6_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r6_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
	   $('#slider6_2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r6_2+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

	   $('#slider7_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r7_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

	   $('#slider8_1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r8_1+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
	   $('#slider8_2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$r8_2+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
	}
</script>


<script>
	$('#check01').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_01').fadeIn();
	        return;
	    }
	    $('#row_01').fadeOut();
	});

	$('#check02').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_02').fadeIn();
	        return;
	    }
	    $('#row_02').fadeOut();
	});
	
	$('#check03').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_03').fadeIn();
	        return;
	    }
	    $('#row_03').fadeOut();
	});	

	$('#check04').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_04').fadeIn();
	        return;
	    }
	    $('#row_04').fadeOut();
	});
	
	$('#check05').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_05').fadeIn();
	        return;
	    }
	    $('#row_05').fadeOut();
	});

	$('#check06').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_06').fadeIn();
	        return;
	    }
	    $('#row_06').fadeOut();
	});

	$('#check07').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_07').fadeIn();
	        return;
	    }
	    $('#row_07').fadeOut();
	});

	$('#check08').change(function () {
	    if ($(this).prop("checked")){
	        $('#row_08').fadeIn();
	        return;
	    }
	    $('#row_08').fadeOut();
	});
</script>


<script language="JavaScript">
	function validateForm() {
		var chkd = (documentge.rule01_01.checked);

		if (chkd == true){
		}
		else{
			alert ("please check at least one screening rule and fill the reference date.")
		}
	}
</script>